body{
    padding: 0%;
    margin: 0%;
}
#nav{
    display:flex;
    box-shadow: 0px 2px 10px black;
    background-color: gray;
    border: 1px solid black;
}
#normal{
    list-style: none;
    color: white;
    margin-left: 10px;
    padding-top: 15px;
}
#normal li{
    height: 100%;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-left: 5px;
}
.logo{
    padding-top: 15px;
    width: 15%;
    text-align: center;
}
.logo span{
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-family: 'Trebuchet MS';
    text-shadow: 1px 5px 6px rgb(51, 38, 38);
    font-weight: bold;
}

.othertools:hover{
    background-color: rgb(71, 69, 69);
}
#normal li a{
    text-decoration: none;
    color: white;
}
                    /* dropdown list */
.dropdown{
    display: none;
    position: static !important;
    margin-left:60%;
    padding-top: 15px;
}
.drop-icon{
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.dropdown-menu{
    background-color: rgb(182, 182, 182) !important;
}
.dropdown-menu li{
    width: 100% !important;
    text-align: center;
    color: white;
}
                /* modal */
#modal{
    display: none;
}
#modal-btn{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}
.modal-container{
    display: flex;
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.514);
    justify-content: center;
    align-items: center;
    left: 0%;
    top: 0%;
}
#all-content-box{
    background-color: #a4b3c4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border-radius: 0px 70px 0px 70px;
}
#modal-body{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 550px;
}
#tab-container{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}
#modal-head{
    display: flex;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
}
.tabs{
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 0px 50px;
    align-self: flex-end;
    letter-spacing: 0.5ch;
    font-weight: 500;
    text-shadow: 5px 4px 9px #000000ab;
    color: rgba(20, 4, 4, 0.863);
    text-transform: uppercase;
    cursor: pointer;
}
.tabs:hover{
    box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.171);
    padding-bottom: 10px;
}
#login-tab{
    background-color: #a4b3c4;
}
#signup-tab{
    background-color: #828e9b;
    
}
#modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82%;
}
#modal-end{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 11%;
    padding-right: 30px;
    border-top: 1px solid gray;
}
#modal-content input{
    border-radius: 10px;
    border: 3px solid black;
    padding: 6px 5px 6px 15px;
    width: 300px;
}
            /* login tab */

#email-inp{
    margin-top: 15px;
}
#password{
    margin-top: 15px;
}
.error{
    font-size: 0.7em;
    margin-bottom: 0%;
}
#pass-show{
    border: none;
    background-color: transparent;
}
            /* signup tab */

#lastname, #signup-email, #create-password, #re-password{
    margin-top: 10px;
}
.error-s{
    font-size: 0.7em;
    margin-bottom: 0%;
}
        /*=====*/
#sign-up-content{
    display: none; 
}
#signup-btn{
    display: none;
}



 @media screen and (max-width: 1250px) {
    #modal-btn{
        margin-left: 28%;
    }
}
@media screen and (max-width: 1085px) {
    #normal li{
        padding: 10px 10px 10px 10px;
        margin-left: 0px;
    }
    #normal{
        padding-left: 10%;
    }
    .dropdown{
        margin-left:0px;
    }
    #modal-btn{
        margin-left: 12%;
    }
    #modal-body{
        left: 20%;
    }
}
@media screen and (max-width: 600px) {
    .logo{
        padding-top: 5px;
    }
    #normal{
        display: none;
    }
    .dropdown{
        display: block;
        margin-left: 50%;
    }
    #modal-btn{
        margin-left: 12%;
    }
    #modal-body{
        width: 450px;
    }
  }
  @media screen and (max-width: 500px) {
    #modal-body{
        width: 450px;
    }
    #modal-btn{
        margin-left: 3%;
    }
  }
  @media screen and (max-width: 550px) {
    #modal-btn{
        margin-left: 2%;
    }
  }